<div *ngIf="!currentLoginService.isLoggedIn" class="not-logged-in-div">
  <h1>Not currently Logged In</h1>
</div>

<div *ngIf="currentLoginService.isLoggedIn" style="margin: 15px">
  
  <p>Add new album listened to:</p>
  
  <form [formGroup]="addAlbumGroup" class="example-form">

    <div>

      <table>

        <tr>

          <td>

            <div>

              <!-- Location -->

              <mat-form-field class="example-full-width">

                <input type="text"
                       placeholder="Location" aria-label="Location"
                       matInput
                       formControlName="location"
                       (change)="locationForm.valueChanged($event)"
                       [matAutocomplete]="autoLocation"
                       required>

                <mat-autocomplete #autoLocation="matAutocomplete"
                                  (optionSelected)="locationForm.valueChanged($event)">

                  <mat-option *ngFor="let option of locationForm.filteredValues | async" [value]="option">
                    {{option}}
                  </mat-option>
                </mat-autocomplete>

              </mat-form-field>

            </div>

          </td>

        </tr>

        <tr>

          <td>

            <div>

              <!-- Artist -->

              <mat-form-field class="example-full-width">

                <input type="text"
                       placeholder="Artist" aria-label="Artist"
                       matInput
                       formControlName="artist"
                       (change)="artistForm.valueChanged($event)"
                       [matAutocomplete]="autoArtist"
                       required>

                <mat-autocomplete #autoArtist="matAutocomplete"
                                  (optionSelected)="artistForm.valueChanged($event)">

                  <mat-option *ngFor="let option of artistForm.filteredValues | async" [value]="option">
                    {{option}}
                  </mat-option>
                </mat-autocomplete>

              </mat-form-field>

            </div>

          </td>

        </tr>

        <tr>

          <td>

            <div>

              <!-- Location -->

              <mat-form-field class="example-full-width">

                <input type="text"
                       placeholder="Album" aria-label="Album"
                       matInput
                       formControlName="album"
                       (change)="albumForm.valueChanged($event)"
                       [matAutocomplete]="autoAlbum"
                       required>

                <mat-autocomplete #autoAlbum="matAutocomplete"
                                  (optionSelected)="albumForm.valueChanged($event)">

                  <mat-option *ngFor="let option of albumForm.filteredValues | async" [value]="option">
                    {{option}}
                  </mat-option>
                </mat-autocomplete>

              </mat-form-field>

            </div>

          </td>

        </tr>

        <tr>

          <td>

            <div>

              <!-- Image URL -->

              <mat-form-field class="example-full-width">

                <input matInput
                       placeholder="Image URL"
                       formControlName="imageUrl"
                       (change)="imageUrlValueChanged($event)"
                       type="url">

              </mat-form-field>

            </div>

          </td>

        </tr>

        <tr>

          <td>

            <div>

              <!-- Image URL -->

              <mat-form-field class="example-full-width">

                <input matInput
                       placeholder="Player URL"
                       formControlName="playerUrl"
                       (change)="playerUrlValueChanged($event)"
                       type="url">

              </mat-form-field>

            </div>

          </td>

        </tr>

      </table>

    </div>
    
    
    <div>

      <table>

        <tr>

          <td>

            <button [disabled]="!addAlbumGroup.valid"
                    mat-raised-button
                    color="primary"
                    (click)="onAddNewAlbum()">
              Add New Item
            </button>

          </td>

          <td>

            <button mat-raised-button
                    color="warn"
                    [disabled]="!addAlbumGroup.valid"
                    (click)="onNewAlbumReset()">
              Reset Details
            </button>

          </td>

          <td>

            <button mat-raised-button
                    [disabled]="!addAlbumGroup.valid"
                    (click)="onNewAlbumDisplay()">
              Display Details
            </button>

          </td>

        </tr>

      </table>

    </div>

  </form>
  
  
  <div *ngIf="newAlbumToDisplay">
                  
    <app-album-detail [albumPlayed]="newAlbumPlayed">

    </app-album-detail>


  </div>

</div>
