<app-layout>
  <mat-sidenav-container>
    <mat-sidenav #sidenav role="navigation">
      <app-side-navigation-list (sidenavClose)="sidenav.close()" (selectedMenuItem)='onSelectedMenuItem($event)'></app-side-navigation-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <app-navigation-header [selectedMenuOption]="selectedMenu" (sidenavToggle)="sidenav.toggle()"></app-navigation-header>
      <main>
        <router-outlet></router-outlet>
      </main>
    </mat-sidenav-content>
  </mat-sidenav-container>
</app-layout>

