<div *ngIf="!currentLoginService.isLoggedIn" class="not-logged-in-div">
  <h1>Not currently Logged In</h1>
</div>
<div *ngIf="currentLoginService.isLoggedIn">
  <mat-tab-group dynamicHeight #tabGroup>

    <mat-tab label="File Import">

      <div class="logged-in-div">

        <div>
          <p>Select Albums File:</p>
          <input type="file" #fileInput ng2FileSelect [uploader]="uploader" (change)="uploadFile()" />


          <button mat-raised-button color="primary" (click)="onFileSubmitted(item)">
            Upload
          </button>

        </div>

        <div>
          <h3 mat-subheader>Selected Files</h3>
          <mat-list>
            <mat-list-item *ngFor="let item of uploader.queue">
              <mat-icon mat-list-icon>folder</mat-icon>
              <h4 mat-line>{{ item?.file?.name }}</h4>
              <p mat-line> {{ item?.file?.size/1024/1024 | number:'.2' }} MB </p>
              <p mat-line>
                <button mat-raised-button color="warn" (click)="item.remove()">
                  Remove
                </button>
                <button mat-raised-button color="primary" (click)="onFileSubmitted(item)">
                  Submit
                </button>
                <button mat-stroked-button [disabled]="!visibilityHash[item._file.name]" color="primary" (click)="onGetDetails(item)">
                  Details
                </button>
              </p>
            </mat-list-item>
          </mat-list>

        </div>

        <div *ngIf="songsFilesDetailsResponse">

          <h1> PARSED FILE!!!!!!!!</h1>

          <div *ngIf="songsFilesDetailsResponse.errorCode != 0">

            <p>Error in file upload: {{songsFilesDetailsResponse.failReason}}</p>

          </div>
          
          <div>

            <p>Starts</p>

            <table class="borders-table" *ngIf="songsFilesDetailsResponse.albumsPlayed">
              <tr>
                <th> location </th>
                <th> artist </th>
                <th> album </th>
              </tr>
              <tr *ngFor="let detail of songsFilesDetailsResponse.albumsPlayed" class="borders-tr">
                <td class="headers-borders-title-td"><b> {{detail.date  | date :'fullDate' }} </b></td>
                <td class="headers-borders-title-td"><b> {{detail.location}} </b></td>
                <td class="headers-borders-title-td"><b> {{detail.artist}} </b></td>
                <td class="headers-borders-title-td"><b> {{detail.album}} </b></td>
              </tr>
            </table>

            <p>Ends</p>

          </div>

        </div>

      </div>
    </mat-tab>

    <mat-tab label="File Export">

      <app-album-played-table></app-album-played-table>

    </mat-tab>

  </mat-tab-group>
</div>