<div *ngIf="!currentLoginService.isLoggedIn" class="not-logged-in-div">
  <h1>Not currently Logged In</h1>
</div>
<div *ngIf="currentLoginService.isLoggedIn">
  <mat-tab-group dynamicHeight #tabGroup>

    <mat-tab label="File Import">

      <div class="logged-in-div">

        <div>
          
          <p>Select Albums File:</p>

          <table>
            <tr>
              <td>
                <input type="file" #fileInput ng2FileSelect [uploader]="uploader" (change)="selectedFile()"/></td>
              <td>
                <button 
                  mat-raised-button 
                  color="primary" 
                  [disabled]="!fileIsSelected"
                  (click)="onSelectedFileSubmitted()">
                  Upload
                </button></td>
              <td>
                <button mat-raised-button 
                        color="warn" 
                        [disabled]="!fileIsUploaded"
                        (click)="onFileReset()">
                  Reset Details
                </button></td>
              <td>
                <button mat-raised-button 
                        color="warn" 
                        [disabled]="!fileIsUploaded"
                        (click)="onFileSetForUser()">
                  Set For User
                </button></td>
            </tr>
          </table>




        </div>

        <div *ngIf="songsFilesDetailsResponse">

          <p> <b>Parsed File Details</b> </p>

          <div *ngIf="songsFilesDetailsResponse.errorCode != 0">

            <p>Error in file upload: {{songsFilesDetailsResponse.failReason}}</p>

          </div>
          
          <div>

            <p>Starts</p>

            <table class="borders-table" *ngIf="songsFilesDetailsResponse.albumsPlayed">
              <tr>
                <th> location </th>
                <th> artist </th>
                <th> album </th>
              </tr>
              <tr *ngFor="let detail of songsFilesDetailsResponse.albumsPlayed" class="borders-tr">
                <td class="headers-borders-title-td"><b> {{detail.date  | date :'fullDate' }} </b></td>
                <td class="headers-borders-title-td"><b> {{detail.location}} </b></td>
                <td class="headers-borders-title-td"><b> {{detail.artist}} </b></td>
                <td class="headers-borders-title-td"><b> {{detail.album}} </b></td>
              </tr>
            </table>

            <p>Ends</p>

          </div>

        </div>

      </div>
    </mat-tab>

    <mat-tab label="File Export">

      <app-album-played-table></app-album-played-table>

    </mat-tab>

  </mat-tab-group>
</div>